<!DOCTYPE html>
<html lang="ar" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviator - لعبة الطائرة</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700;900&display=swap" rel="stylesheet">
</head>
<body>
<div id="wrapper">
    <div id="mid-wrapper">
        <div id="header">
            <div id="last-counters"></div>
            <div>
                <div id="balance">رصيد تجريبي</div>
                <div id="balance-amount">
                    <div style="position: absolute; top: 5px; right: 10px; font-size: 19px; color: #ffffff;">€</div>
                </div>
            </div>
        </div>

        <div id="counterWrapper">
            <div id="bg-image"></div>
            <canvas id="canvas"></canvas>
            <div id="counter">1.00x</div>
        </div>

        <div id="bottom-wrapper">
            <div id="input-wrapper">
                <input type="number" id="bet-input" min="1" max="1000" placeholder="مبلغ الرهان" />
                <div style="position: absolute; top: 10px; right: 10px; font-size: 19px; color: #ffffff;">€</div>
            </div>
            <button id="bet-button">BET</button>
        </div>

        <div id="message-button">
            <p id="message"></p>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/game.js') }}"></script>
</body>
</html>
